
<div class="card1 row">
    <h1 class="text-center">PRODUCTS</h1>

    <div class="product-card float-left" *ngFor="let product of productList">
            
        <div class="product-tumb">
           <img src="{{product.image[0]}}" alt="">
        </div>
        <div class="product-details">
            <span class="product-catagory"></span>
            <h4><a routerLink="/product/{{product._id}}">{{product.product_name}} </a></h4>
            <p>{{product.product_description}}</p>
            <h3>&#x20b9;{{product.product_price}}</h3>
            <div class="product-bottom-details" *ngIf="er()=='user'">
                
                <div class="product-links">
                    <a ><i class="fa fa-heart" (click)="addtowish(product)"></i></a>
                    <a ><i class="fa fa-shopping-cart" (click)="addtocart(product)"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>