<section class="Why_section layout_padding">
    <div class="container">
      <h2>WHY CHOOSE US?</h2>
      <p>
        The Product-App website has been built to be as accessible as possible, to people of all abilities and disabilities, no matter what browser or device they use to visit the site. A specific mobile site has been setup for a flawless iPhone, iPad and Android experience.
      </p>
    </div>
  </section>



  <!-- end why section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container info_content">
      <div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <h5>
                  About Us
                </h5>
                <ul>
                  <li>
                    <a href="">
                      It is a long established
                    </a>
                  </li>
                  <li>
                    <a href="">
                      fact that a reader will be
                    </a>
                  </li>
                  <li>
                    <a href="">
                      distracted by the read
                    </a>
                  </li>
                  <li>
                    <a href="">
                      able LoremIt is a long es
                    </a>
                  </li>
                  <li>
                    <a href="">
                      tablished fact that a
                    </a>
                  </li>
                  <li>
                    <a href="">
                      reader will be distracted
                    </a>
                  </li>

                </ul>
              </div>
              <div class="col-md-6">
                <h5>
                  Contact Us
                </h5>
                <ul>
                  <li>
                    <a href="">
                      Anugrah S
                    </a>
                  </li>
                  <li>
                    <a href="">
                     Deepak
                    </a>
                  </li>
                  <li>
                    <a href="">
                     Divya
                    </a>
                  </li>
                  <li>
                    <a href="">
                     Crist Joseph
                    </a>
                  </li>
                

                </ul>
              </div>
            </div>
            <div class="form_container mt-5">
              <form action="">
                <input type="email" placeholder="Enter Your email" />
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info_img-box">
              <img src="/assets/images/map.png" alt="">
            </div>
            <div class="d-flex justify-content-end pr-5">
              <div class="social-box">
                <a href="">
                  <img src="/assets/images/fb.png" alt="" />
                </a>

                <a href="">
                  <img src="/assets/images/twitter.png" alt="" />
                </a>
                <a href="">
                  <img src="/assets/images/linkedin1.png" alt="" />
                </a>
                <a href="">
                  <img src="/assets/images/instagram1.png" alt="" />
                </a>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </section>

  <!-- end info section -->
  <hr class="footer_hr">
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy;
      2022 All Rights Reserved
    </p>
  </section>