<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>ABOUT US</h3>
                            <p>Since our inception, Car-Connect is focused on delivering high quality & widest range of car accessories, car stereo android & auto parts.</p>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                        </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">Our team's passion for cars and modifying them to the hilt has given unbelievable results to our customer's vehicles. Further works as a huge confidence booster to us. We have achieved unbelievable sales, delivering car accessories to our customers. Thus enhancing our portfolio of one of the widest range of car accessories & stereos online in India at Car-Connect</p>
                        <div class="sosmed-horizontal pt-3 pb-3">
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://twitter.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </div>
                        <a href="#" class="btn rey-btn mt-3"><span>Car<img src="/assets/images/car-connect-logo.png" height="20px" width="25px" alt="">Connect</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <!-- <img src="https://via.placeholder.com/400x700/FF7F50/000000" alt="potoabout" /> -->
                </figure>
            </div>
        </div>
    </div>
</section>