.table{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)
{

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr
    {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr
    {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr
    {
        border: 1px solid rgb(150, 154, 227);
    }

  td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50% !important; /* Added important here */
                }

    td:before
    {
        /* Now like a table header */
        position: absolute; /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
Label the data
*/
    td:nth-of-type(1):before
    {
        content: "Name";
    }
    td:nth-of-type(2):before
    {
        content: "Price";
    }
    td:nth-of-type(3):before
    {
        content: "Description";
    }
    td:nth-of-type(4):before
    {
        content: "Category";
    }
    td:nth-of-type(5):before
    {
        content: "Quantity";
    }
    td:nth-of-type(6):before
    {
        content: "Discount";
    }
    td:nth-of-type(7):before
    {
        content: "Date";
    }

}

.flexbox{
    background: #f2eee2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
}
.search{
    margin: 20px;
}
.search > h3{
    font-family: 'Indie Flower', cursive;
    color: red;
    margin-bottom: 15px;
}
.search > div{
    display: inline-block;
    position: relative;
}
.search > div::after{
    content: "";
    background: black;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: -2px;
    transform: rotate(135deg);
}
.search > div >input{
    color: black;
    font-size: 16px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px black;
    outline: none;
    border-radius: 35px ;
    transition: width 0.5s;
}
.search > div >input::placeholder{
    color: black;
    opacity: 0;
    transition: opacity 150ms ease-out;
}
.search > div >input:focus::placeholder{
    opacity: 1;
}
.search >div >input:focus,
.search > div >input:not(:placeholder-shown){
    width: 250px;
}
