
<div class="flexbox">
  <div class="search">
    <h3>click on search icon</h3>
    <div>
      <input type="text"
       placeholder="Search..."
       (keyup)="searchItem($event)"
       required>
    </div>
  </div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col" >#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Available_Quantity</th>
        <th scope="col">Discount</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of ProductItem">
        <th scope="row" >{{product.product_id}}</th>
        <td>{{product.product_name}}</td>
        <td>{{product.product_price}}</td>
        <td>{{product.product_description}}</td>
        <td>{{product.product_category}}</td>
        <td>{{product.available_quantity}}</td>
        <td>{{product.percentage_discount}}%</td>
        <td>{{product.online_date}}</td>
        <td><button class="btn btn-info">Edit</button></td>
        <td><button class="btn btn-danger" (click)="delete(product)">Delete</button></td>
      </tr>
      
    </tbody>
  </table>