<section class="Why_section layout_padding">
    <div class="container">
      <h2>WHY CHOOSE US?</h2>
      <p>
        Our job is not just to complete a project, we are here for you to help you shape and realise your vision.
        Our strength comes from the Happy Customer. Every person is a valued and respected member, encouraged to contribute and share, and recognized and rewarded for their efforts.
        86% of consumers say authenticity is important when choosing a brand to support, so it’s important to get this right. 
      </p>
    </div>
  </section>



  <!-- end why section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container info_content">
      <div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <h5>
                  COMPANY INFO

                </h5>
                <ul style="color: rgb(247, 247, 237);" >
                 
                  <a class="nav-link" routerLink="/aboutus" (click)="topFunction()">About Us</a>
                  <a class="nav-link" routerLink="/privacy" (click)="topFunction()">Privacy Policy </a> 
                  <a class="nav-link" routerLink="/contactus" (click)="topFunction()">Contact Us</a>
                  </ul>
              </div>
              <div class="col-md-6">
                <h5>
                  Contact Us
                </h5>
                <ul>
                  <li>
                    <a href="">
                      Anugrah S
                    </a>
                  </li>
                  <li>
                    <a href="">
                     Deepak
                    </a>
                  </li>
                  <li>
                    <a href="">
                     Divya
                    </a>
                  </li>
                
                

                </ul>
              </div>
            </div>
            <div class="form_container mt-5">
              <form action="">
                <input type="email" placeholder="Enter Your email" />
                <button type="submit">
                  Subscribe 
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info_img-box">
              <img src="/assets/images/map.png" alt="">
            </div>
            <div class="d-flex justify-content-end pr-5">
              <div class="social-box">
                <a href="https://www.facebook.com/">
                  <img src="/assets/images/fb.png" alt="" />
                </a>

                <a href="https://twitter.com/">
                  <img src="/assets/images/twitter.png" alt="" />
                </a>
                <a href="https://www.linkedin.com/">
                  <img src="/assets/images/linkedin1.png" alt="" />
                </a>
                <a href="https://www.instagram.com/">
                  <img src="/assets/images/instagram1.png" alt="" />
                </a>
                <a href="">
                  <img src="/assets/images/car-connect-logo.png" height="30px" width="35px" alt="">
                </a>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </section>

  <!-- end info section -->
  <hr class="footer_hr">
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy;
      2022 All Rights Reserved
    </p>
  </section>