.navbar-brand{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: aliceblue !important;
    font-size: 29px;
}





.fa-stack[id]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(id);
  font-size:40%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: green;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
}
.fa-circle {
  color:#DF0000;
}

.red-cart {
	color: white; background:black;
}