<div class="col-md-6 grid-margin stretch-card">

    <button type="submit" id="btn" class="btn btn-primary me-2" (click)="getLocation()">Check Weather</button>
    <button type="submit" id="btn" class="btn btn-primary me-2" (click)="getEmployee()"><a routerLink="/construction" style="text-decoration: none; color:white"> Check Employee</a></button>




</div>
<div class="ml-5 p-5">
    <h4><span id="temp"></span>
      <br>
        <span id="loc"></span>
        <br>
        <span id="tz"></span>
        <br>
        <span id="text"></span>
        <!-- <img id="img"></img> -->
    </h4>
</div>
