<h3 id="heading" >WELCOME TO ADMIN PANEL</h3>
<div class="login-box">
    <h2>ADMIN</h2>
    <form action="" (ngSubmit)="AdminADD()" >
     
      <div class="user-box">
        <input
          type="text"
          name="email"
          id=""
          placeholder="Enter email"
          [(ngModel)]="Admin.username"
        />
        <label htmlFor="">Email</label>
      </div>
      <div class="user-box">
        <input
          type="password"
          name="password"
          id=""
          placeholder="Password"
          [(ngModel)]="Admin.password"
        />
        <label htmlFor="">Password</label>
      </div>
      <a >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="submit" id="demo"
/> 
      </a >

    </form>
  </div>
  <div style="margin-top: 520px; margin-left: 610px;">
    <div class="col-sm-4">
      <div class="card social-block">
       
        
      </div>
    </div>
  </div>