

<!-- Item-->
<div class="cart-item d-md-flex justify-content-between" *ngFor="let product of products"><span class="remove-item"><i class="fa fa-times" (click)="removeItem(product)"></i></span>
    <div class="px-3 my-3">
        <a class="cart-item-product" href="#">
            <div class="cart-item-product-thumb"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Product"></div>
            <div class="cart-item-product-info">
                <h4 class="cart-item-product-title">{{product.product_name}}</h4>
                <div class="text-lg text-body font-weight-medium pb-1">{{product.product_price}}</div><span>Availability: <span class="text-success font-weight-medium">In Stock</span></span>
            </div>
        </a>
    </div>
</div>
<div class="custom-control custom-checkbox">
    <input class="custom-control-input" type="checkbox" checked="" id="inform-me">
    <label class="custom-control-label" for="inform-me">Inform me when item from my wishlist is available</label>
</div>