<div class="login-box">
    <h2>LOGIN</h2>
    <form action="" >
     
      <div class="user-box">
        <input
          type="text"
          name="email"
          id=""
          placeholder="Enter email"
        />
        <label htmlFor="">Email</label>
      </div>
      <div class="user-box">
        <input
          type="password"
          name="password"
          id=""
          placeholder="Password"
        />
        <label htmlFor="">Password</label>
      </div>
      <a >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="submit" id="demo"
/> 
      </a >
      <a routerLink="/signup" style="margin-left: 55px;">SIGNUP</a>

    </form>
  </div>
  <div style="margin-top: 520px; margin-left: 610px;">
  <div class="col-sm-4">
    <div class="card social-block">
      <div class="card-body">
        <a class="btn btn-block btn-social btn-google" (click)="google()" role="button">
          <i class="fab fa-google"></i>
          Sign Up with Google
        </a>
      </div>
      <div class="card-body">
        <a class="btn btn-block btn-social btn-facebook"  role="button">
          <i class="fab fa-facebook"></i>
          Sign Up with Facebook
        </a>
      </div>
    </div>
  </div>
</div>