<div class="login-box">
    <h2>LOGIN</h2>
    <form action="" (ngSubmit)="UserADD()" >
     
      <div class="user-box">
        <input
          type="email"
          name="email"
          id=""
          placeholder="Enter email"
          [(ngModel)]="User.username"
          required
        />
        <label htmlFor="">Email</label>
      </div>
      <div class="user-box">
        <input
          type="password"
          name="password"
          id=""
          placeholder="Password"
          [(ngModel)]="User.password"
          required
        />
        <label htmlFor="">Password</label>
      </div>
      <a >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="submit" id="demo"
/> 
      </a >
      <a routerLink="/signup" style="margin-left: 55px;">SIGNUP</a>

    </form>
    <div class="row" style="margin-top: 15px;">
      <div class="col-md-12">
        <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline bg-transparent" (click)="google()"><img src="https://img.icons8.com/color/16/000000/google-logo.png"><b id="demo1"> Signup Using Google</b></a>
  
      </div>
  </div>
  </div>
  <div style="margin-top: 600px; margin-left: 610px;">
    <div class="col-sm-4">
      <div class="card social-block">
       
        
      </div>
    </div>
  </div>

  <!-- <div style="margin-top: 520px; margin-left: 610px;" id="responsive" >
  <div class="col-sm-4">
    <div class="card social-block">
      <div class="card-body">
        <a class="btn btn-block btn-social btn-google" (click)="google()" role="button">
          <i class="fab fa-google"></i>
          Sign Up with Google
        </a>
      </div>
      <div class="card-body">
        <a class="btn btn-block btn-social btn-facebook"  role="button">
          <i class="fab fa-facebook"></i>
          Sign Up with Facebook
        </a>
      </div>
    </div>
  </div>
</div> -->