<div class="container">
    <div class="row">
        <div class="col-md-3">
    
            <!-- Tips Widget -->
            <!--===================================================-->
            <div class="mar-btm">
                <h4 class="text-thin"><i class="fa fa--o fa-lg fa-fw text-warning"></i></h4>
                <p class="text-muted mar-top"></p>
                <div class="list-group bg-trans">
                </div>
            </div>
            <!--===================================================-->
    
            <hr>
    
            <!-- Contact us widget -->
            <!--===================================================-->
            <div class="mar-btm">
                <h4 class="text-thin"><i class="fa fa-question-circle fa-lg fa-fw text-primary"></i> Can't find the answer? </h4>
                <p class="text-muted mar-top">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                <a routerLink="/contactus" class="btn btn-primary">Contact us</a>
            </div>
            <!--===================================================-->
    
        </div>
        <div class="col-md-9">
            <div class="panel">
                <div class="panel-body">
    
                    <!-- GENERAL -->
                    <!--===================================================-->
                    <h3 class="pad-all bord-btm text-thin">Payment</h3>
                    <div id="demo-gen-faq" class="panel-group accordion">
                        <div class="bord-no pad-top">
    
                            <!-- Question -->
                            <div class="text-semibold pad-hor text-lg">
                                <a href="#demo-gen-faq1" data-toggle="collapse" data-parent="#demo-gen-faq">How can I pay for my order?</a>
                                <li>You can use credit cards and PayPal to check out.</li>
                            </div>
    
                            <!-- Answer -->
                            <div id="demo-gen-faq1" class="collapse in">
                                <div class="pad-all">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="bord-no pad-top">
    
                            <!-- Question -->
                            <div class="text-semibold pad-hor text-lg">
                                <a href="#demo-gen-faq2" data-toggle="collapse" data-parent="#demo-gen-faq">Can you tell me more about checking out with a Credit card?</a>
                                <li>The store may also accept credit cards for the payment. In order to accept credit card payments, the store complies with the industry security standards established by the major credit card companies (American Express, Discover, JCB, MasterCard, and Visa) to protect the buyers from cardholder information theft. Your details are safe with us as we take security very seriously.</li>
                            </div>
    
                            <!-- Answer -->
                            <div id="demo-gen-faq2" class="collapse in">
                                <div class="pad-all">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="bord-no pad-top">
    
                            <!-- Question -->
                            <div class="text-semibold pad-hor text-lg">
                            </div>
    
                            <!-- Answer -->
                            <div id="demo-gen-faq3" class="collapse">
                                <div class="pad-all">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="bord-no pad-top">
    
                            <!-- Question -->
                            <div class="text-semibold pad-hor text-lg">
                            </div>
    
    
                            <!-- Answer -->
                            <div id="demo-gen-faq4" class="collapse">
                                <div class="pad-all">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--===================================================-->
    
                    <hr class="bord-no pad-all">
    
                    <!-- ACCOUNT -->
                    <!--===================================================-->
                    <h3 class="pad-all bord-btm text-thin">Shipping & Delivery</h3>
                    <div id="demo-acc-faq" class="panel-group accordion">
                        <div class="panel panel-trans pad-top">
    
                            <!-- Question -->
                            <div class="text-semibold pad-hor text-lg">
                                <a href="#demo-acc-faq1" data-toggle="collapse" data-parent="#demo-acc-faq">How much does shipping cost?</a>
                                <li>We are glad to bring our customers great value and service.</li>
                            </div>
    
    
                            <!-- Answer -->
                            <div id="demo-acc-faq1" class="collapse in">
                                <div class="pad-all">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-trans pad-top">
    
                            <!-- Question -->
                            <div class="text-semibold pad-hor text-lg">
                                <a href="#demo-acc-faq2" data-toggle="collapse" data-parent="#demo-acc-faq">How can I track my parcel ?</a>
                                <li>Once your parcel has left our Fulfillment Center, you will receive an email with a tracking number to monitor your parcel movements.</li>
                            </div>
    
                            <!-- Answer -->
                            <div id="demo-acc-faq2" class="collapse">
                                <div class="pad-all">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-trans pad-top">
    
                            <!-- Question -->
                            <div class="text-semibold pad-hor text-lg">
                                <a href="#demo-acc-faq3" data-toggle="collapse" data-parent="#demo-acc-faq">What happens to my parcel if it is delivered while I’m not there?</a>
                                <li>Depending on the destination and the package size, your parcel will be left in your mailbox or on your porch, or it may be left with a neighbour.</li>
                            </div>
    
                            <!-- Answer -->
                            <div id="demo-acc-faq3" class="collapse">
                                <div class="pad-all">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--===================================================-->
    
                    <hr class="bord-no pad-all">
    
                    <!-- PAYMENT -->
                    <!--===================================================-->
                    <h3 class="pad-all bord-btm text-thin">Refunds & Returns Policy</h3>
                    <div id="demo-pym-faq" class="panel-group accordion">
                        <div class="bord-no pad-top">
    
                            <!-- Question -->
                            <div class="text-semibold pad-hor text-lg">
                                <a href="#demo-pym-faq1" data-toggle="collapse" data-parent="#demo-pym-faq">Can I cancel my order?</a>
                                <li>All orders can be canceled until they are shipped. If your order has been paid and you need to change or cancel it, please contact us within 12 hours of placing it.</li>
                            </div>
    
    
                            <!-- Answer -->
                            <div id="demo-pym-faq1" class="collapse in">
                                <div class="pad-all">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="bord-no pad-top">
    
                            <!-- Question -->
                            <div class="text-semibold pad-hor text-lg">
                                <a href="#demo-pym-faq2" data-toggle="collapse" data-parent="#demo-pym-faq">Can I return an item for an exchange instead of a refund?</a>
                                <li>Yes, you can! Kindly Contact Us form to discuss the details with us.</li>
                            </div>
    
                            <!-- Answer -->
                            <div id="demo-pym-faq2" class="collapse in">
                                <div class="pad-all">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="bord-no pad-top">
    
                            <!-- Question -->
                            <div class="text-semibold pad-hor text-lg">
                                <a href="#demo-pym-faq3" data-toggle="collapse" data-parent="#demo-pym-faq">Can I return my purchase?</a>
                                <li>All our products are backed with a 14-day money back guarantee. Just contact us and we will refund the purchase price.

                                    If you are not satisfied with your purchase, you can return it for a replacement or refund. No questions asked! You only should return it at your expense.
                                    
                                    Please contact us first and we will guide you through the steps. We are always ready to give you the best solutions!
                                    
                                    Please do not send your purchase back to us unless we authorize you to do so.</li>
                            </div>
    
    
                            <!-- Answer -->
                            <div id="demo-pym-faq3" class="collapse in">
                                <div class="pad-all">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="bord-no pad-top">
    
                            <!-- Question -->
                            <div class="text-semibold pad-hor text-lg">
                            </div>
    
    
                            <!-- Answer -->
                            <div id="demo-pym-faq4" class="collapse in">
                                <div class="pad-all">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--===================================================-->
    
                </div>
            </div>
        </div>
    </div>
    </div>