<div class="login-box">
    <h2>SIGNUP</h2>
    <form action="" (ngSubmit)="addUser()">
      <div class="user-box">
        <!-- <input
          type="text"
          name="name"
          class="userbox1"
          id="username"
          placeholder="Enter name"
          [(ngModel)]="User.username"
        />
        <label htmlFor="">Name</label> -->
      </div>
      <div class="user-box">
        <input
          type="email"
          name="email"
          id=""
          placeholder="Enter email"
          [(ngModel)]="User.username"
          required
        />
        <label htmlFor="">Email</label>
      </div>
      <div class="user-box">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          minlength=8
          [(ngModel)]="User.password"
          (keyup)="validation()"
        />
        <label htmlFor="">Password</label>
      </div>
      <a >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="submit" id="demo"
/> 
      </a >
      <a routerLink="/login" style="margin-left: 55px;">LOGIN</a>
    </form>
  </div>
  <div style="margin-top: 520px; margin-left: 610px;">
    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google"  role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
        <div class="card-body">
          <a class="btn btn-block btn-social btn-facebook"  role="button">
            <i class="fab fa-facebook"></i>
            Sign Up with Facebook
          </a>
        </div>
      </div>
    </div>
  </div>

  