<div class="login-box">
    <h2>SIGNUP</h2>
    <form action="" (ngSubmit)="addUser()">
      <div class="user-box">
        <input
          type="text"
          name="name"
          class="userbox1"
          id="username"
          placeholder="Enter name"
          [(ngModel)]="User.username"
        />
        <label htmlFor="">Name</label>
      </div>
      <div class="user-box">
        <input
          type="text"
          name="email"
          id=""
          placeholder="Enter email"
          [(ngModel)]="User.email"
        />
        <label htmlFor="">Email</label>
      </div>
      <div class="user-box">
        <input
          type="password"
          name="password"
          id=""
          placeholder="Password"
          [(ngModel)]="User.password"
        />
        <label htmlFor="">Password</label>
      </div>
      <a >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="submit" id="demo"
/> 
      </a >
      <a routerLink="/login" style="margin-left: 55px;">LOGIN</a>
    </form>
  </div>